# Python venv and caches
.venv/
venv/
__pycache__/
*.pyc

# System / OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

**/x64/


/EIT_2/Embedded Systems/ChiQuadratTest/ChiQuadratTest-esp32/build/bootloader
*.obj
EIT_2/Embedded Systems/ChiQuadratTest/ChiQuadratTest-esp32/build/bootloader/esp-idf/bootloader_support/CMakeFiles/__idf_bootloader_support.dir/bootloader_flash/src/bootloader_flash_config_esp32c3.c.obj
EIT_2/Embedded Systems/Projekt/SPO2_Pulse_ESP32C3_MAX30102/build/bootloader/esp-idf/bootloader_support/CMakeFiles/__idf_bootloader_support.dir/bootloader_flash/src/bootloader_flash_config_esp32c3.c.obj
/EIT_2/Embedded Systems/ChiQuadratTest/ChiQuadratTest-esp32/build/bootloader/esp-idf/bootloader_support/CMakeFiles
/EIT_3/Embedded-BuildingBlocks/Projekt
EIT_3/Projekt Embedded Systems/flutter/waage.zip
EIT_3/Schaltungstechnik/Labor/Labor3/OPV741_inv.raw
/EIT_3/Projekt Embedded Systems/Waage/Bluetooth-test-minimal/build
/EIT_3/Projekt Embedded Systems/Waage/Bluetooth-test-minimal/build
EIT_3/Schaltungstechnik/Labor/Labor6/Draft1.log
EIT_3/Schaltungstechnik/Labor/Labor6/Draft1.op.raw
EIT_3/Schaltungstechnik/Labor/Labor6/Draft1.raw
EIT_4/Digitaltechnik/Labor/2026-05-06/Simulation.op.raw
*.raw
*.raw
